@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

body {
  background-color: #daded4;
  z-index: -1;
}
#simple-menu div.MuiPaper-root {
  top: 10vh !important;
}
.carousel.carousel-slider {
  max-width: 100%;
  margin: auto;
}

#simple-menu li,
#simple-menu a {
  color: #2c3531;
}
#simple-menu a:hover {
  text-decoration: none;
}

#simple-menu li:hover {
  color: #2c3531;
}
#reactions .MuiPopover-paper {
  border-radius: 200px;
  width: 300px;
  max-width: 80vw;
}
#Chat-Room .MuiPopover-paper {
  max-width: calc(100% - 32px);
  min-width: 300px !important;
  max-height: 400px !important;
  min-height: 150px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
